
.container-fluid, .container{
    margin: 2rem auto;
    text-align: center;
}
.title{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
}
.btn-primary{
    border-radius: 10px;
    border: 2px solid #fff;
    margin: 1rem auto;
}
.btn-secondary{
    border-radius: 10px;
    border: 2px solid #333;
}

div.col-6.points{
    background-color: #fff;
    border: 1px solid black;

}